


  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html{
    scroll-behavior: smooth;
  }

  div.container{
    border: 5px solid #bfbcae;
    background-color: #7e7c7c;
    margin: 0 auto;
    padding: 20px;
  }

  div.content-box{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
  }
.content{
  border: 1px;
}


  header{
    background-color:rgb(245, 235, 220);
    display: flex;
    align-items: center;
  }

  h1{
    padding-top: 30px;
    padding-right: 30px;
  }
  h2{
    font-size: medium;
    padding-left: 5px;
    padding-bottom: 20px;
    text-align: center;
  
  }
.slideshow img {
  width: 100%;
}

.flex-container {
    display: flex;
    background-color: #7e7c7c;
    justify-content: space-around;
  }

.flex-container > div{
 flex-direction: row;
background-color: rgb(228, 213, 190);
padding: 5px;
padding-top: 0;
margin: 3px;
width: auto;
justify-content: space-between;
font-size: small;
font-weight: 2px;
text-align: center;
}
.flex-container:hover > div{
  background: #62553ce4;
}
 
.logo{
  width: 20%;
}

img.logo{
  width: 100%;  
}


nav{
  background-color: darkgrey;
  display: flex;
  flex-direction: row;
  margin: 50px;
}

ul{ 
  overflow: auto;
  list-style-type: none;
  display: flex;
}

li {
  height: 50px;
  margin-right: 0px;
  border-right: 2px solid rgba(255, 255, 255, 0.534);
  padding: 20px 20px;
  padding-bottom: 20px;
  line-height: 4.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-variant: small-caps;
  font-size: medium;
  display: flex;
}

li:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  color: aliceblue;
  font: 25px/1 helvetica, verdana, sans-serif;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

li a:hover {
  color: #000;
}

li.active a {
  font-weight: bold;
  color: #333;
}

  div.left, div.middle, div.right{
    border: 3px solid rgba(0, 20, 94, 0.688);
    border-width: 1ex 1ex 1ex;
    width: 30%;
  }
  
  aside img{
    width: 100%; 
    height: 300px;
    object-fit:cover;
 }
  
  aside{
    display: flex;
    justify-content: space-around;
  }
  
  main img{
    width: 100%;
  }


.flex-container > button{
  font-size: large;
  padding: 2px;
}
.flex-container > button:hover {
  background: #9b9277c8;
  padding: 2px;
  cursor: auto;
}

form > h2{
  padding-top: 5px;
}
form {
  display: flex;
  flex-direction: column;
}

form label {
  padding: 2px;
  margin: 1rem 2 2rem;
}

form input,
form textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 0.7rem;
  border: none;
  background: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

form button:hover {
  background: #555;
}


  /***************
  Media Queries
  ***************/
  @media screen and (max-width: 750px){
    .nav{
      flex-direction: column;
    }
    .nav ul{
      flex-direction: column;
    }
    div.content-box{
      flex-direction: column;
    }
  }